<%= form_for(@article) do |f| %>
  <div class="container">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="container">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>

  <hr>

  <p><%= link_to 'Back to list', articles_path  %></p>
<% end %>
